p You are receiving this email because you (or someone else) have requested the reset of the password for your account.
p Your password reset code is: 
  strong #{code}
p This code will expire in 10 minutes.
p Please enter this code to complete the reset.
p If you did not request this, please ignore this email and your password will remain unchanged.